[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
soundfile = "*"
scipy = "*"
numpy = "*"
keras = "*"
pickle = "*"
librosa = "*"
matplotlib = "*"
tqdm = "*"

[requires]
python_version = "3.6"
